<?xml version="1.0"?>
<!--
 * @category ScandiPWA
 * @package ScandiPWA\Sitemap
 * @author Ilja Lapkovskis <info@scandiweb.com / ilja@scandiweb.com>
 * @copyright Copyright (c) 2019 Scandiweb, Ltd (http://scandiweb.com)
 * @license OSL-3.0
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ScandiPWA\Sitemap\Model\ItemProvider\Product">
        <arguments>
            <argument name="configReader" xsi:type="object">Magento\Sitemap\Model\ItemProvider\ProductConfigReader</argument>
        </arguments>
    </type>
    <type name="ScandiPWA\Sitemap\Model\ItemProvider\Category">
        <arguments>
            <argument name="configReader" xsi:type="object">Magento\Sitemap\Model\ItemProvider\CategoryConfigReader</argument>
        </arguments>
    </type>
    <type name="ScandiPWA\Sitemap\Model\ItemProvider\CmsPage">
        <arguments>
            <argument name="configReader" xsi:type="object">Magento\Sitemap\Model\ItemProvider\CmsPageConfigReader</argument>
        </arguments>
    </type>
    <preference for="Magento\Sitemap\Model\Sitemap" type="ScandiPWA\Sitemap\Model\Sitemap"/>
    <virtualType name="ScandiPWA\Sitemap\Model\ItemProvider\Composite" type="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="categoryProvider" xsi:type="object">ScandiPWA\Sitemap\Model\ItemProvider\Category</item>
                <item name="cmsPageProvider" xsi:type="object">ScandiPWA\Sitemap\Model\ItemProvider\CmsPage</item>
                <item name="productProvider" xsi:type="object">ScandiPWA\Sitemap\Model\ItemProvider\Product</item>
            </argument>
        </arguments>
    </virtualType>
    <preference for="Magento\Sitemap\Model\ItemProvider\ItemProviderInterface" type="ScandiPWA\Sitemap\Model\ItemProvider\Composite" />
</config>
